**Exercise 2 -
Title of the Notebook**


**Data Science Tools and Ecosystem**

**Exercise 3 - Introduction**

In this notebook, we will explore various tools, languages, and libraries used in Data Science. Additionally, we will demonstrate basic arithmetic operations in Python.

**Exercise 4 - List of Data Science Languages**

Some of the commonly used programming languages in Data Science are:

Python

R

SQL

Julia

Scala

**Exercise 5 - List of Data Science Libraries**

Some of the popular libraries used in Data Science include:

NumPy

Pandas

Matplotlib

Scikit-learn

TensorFlow

**Exercise 6 - Table of Data Science Tools**

Jupyter Notebook
RStudio
Apache Spark
TensorFlow
Tableau


**Exercise 7 - Introduction to Arithmetic Expressions**

Arithmetic expressions in programming involve basic mathematical operations such as addition, subtraction, multiplication, and division. Below are some examples demonstrating these operations.
Addition (+):  (2+3)

Subtraction (-): (2-3)

Multiplication (*) : (2*3)

Division (/): (2/3)

In [ ]:
## Exercise 8 - Create a code cell to multiply and add numbers.

num1 = 5
num2 = 3
result_multiply = num1 * num2
result_add = num1 + num2
print("Multiplication Result:", result_multiply)
print("Addition Result:", result_add)

In [ ]:
## Exercise 9 - Create a code cell to convert minutes to hours.
minutes = 120
hours = minutes / 60
print("Hours:", hours)

**Exercise 10 -Insert a markdown cell to list Objectives.**

Key objectives of this notebook:
- Understand popular Data Science languages
- Learn about commonly used libraries
- Explore different Data Science tools
- Perform basic arithmetic operations
- Convert units (minutes to hours)

**Author**:
 Vigneshwar Reddy Sheelam